.FakeBody {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  min-width: 1296px;
  min-height: 801px;
}

.Image {
  grid-row: 2;
  grid-column: 1;
}

.Header {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 12px;
}

.Article {
  grid-column: 1;
  grid-row: 2;
  padding: 12px;
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.p1 {
}
.p2 {
}
.p3 {
}
.p4 {
}
.p5 {
}
