.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.FakeBody {
  max-width: 90%;
  margin: auto;
}

.dropdowns {
  display: flex;
  justify-content: space-evenly;
}
/* copy paste later */
